@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Take back your data</h1>
    <p>
        <b>Comb</b> is an account proxy service that enables internet users to grant and revoke data for websites they've signed up for.
    </p>
    <p>
        When a website integrates with Comb, they agree to store user data with us. The website must play by Comb's strong <a href="#">Privacy Policy</a> in order to access your precious data.
    </p>

    <div class="row">
        <div class="col card m-2">
            <div class="card-body">
                <h4 class="card-title">A web protocol to empower users</h4>
                <p>
                    A protocol between Comb and the website requesting your data. The terms of the protocol state that the user may revoke access to their data at any time.
                </p>
                <p>
                    This puts data <b>ownership</b> in the <b>user’s favour</b>, and websites will agree to comply if they want to be seen as trustworthy.
                </p>
            </div>
        </div>
        <div class="col card m-2">
            <div class="card-body">
                <h4 class="card-title">Obscure your identity</h4>
                <p>
                    Obscure/hide your email and phone number using our <b>proxy service</b>. These types of information can easily be linked to your real identity.
                </p>
                <p>
                    ❌ <i>John.Doe@gmail.com</i> reveals your full name.
                </p>
                <p>
                    ✅ <i>truck.crayon.put451@combproxy.com</i> is a random phrase.
                </p>
            </div>
        </div>

        <h4>Use Comb next time you’re registering for a website!</h4>
    </div>
</div>